.Rproj.user/*
.Rhistory
.RData
.Ruserdata
*.Rproj
*.user
.Rproj.user
*.gif
evolving-hockey.R
Old/
plots/
MoneyPuckData/*
NHLschedulescraper/plots/*
NHLschedulescraper/Data/*
NHLschedulescraper/Old/*
NHLschedulescraper/*.png
NHLschedulescraper/Player\ Analysis/Data/*
NHLschedulescraper/Player\ Analysis/plots/*

