.Rproj.user/*
.Rhistory
.RData
.Ruserdata
plots/
Old/
*.Rproj
*.user
evolving-hockey.R
NHLschedulescraper/plots/*
NHLschedulescraper/Data/*
NHLschedulescraper/Old/*
NHLschedulescraper/*.png
NHLschedulescraper/Player\ Analysis/Data/*
NHLschedulescraper/Player\ Analysis/plots/*
.Rproj.user
*.gif
