.Rproj.user/*
.Rhistory
.RData
.Ruserdata
*.Rproj
*.user
.Rproj.user
*.gif
evolving-hockey.R
play_by_play.R
plot_ice_rink.R
Old/
plots/
MoneyPuckData/*
NHLschedulescraper/*
scraperHR/*
python_scraper/*
postgame/*
moneypuckShots/*
nhlapi/data/*
nhlapi/plots/*
nhlapi/*.csv
